// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$baseHigh         = #1a181b;
$baseMediumHigh   = rgba(26, 24, 27, 0.8);
$baseMedium       = rgba(26, 24, 27, 0.6);     // 1a181b99
$baseMediumLow    = rgba(26, 24, 27, 0.4);     // 1a181b66
$baseLow          = #2ec4b6 //#ff4365; // rgba(26, 24, 27, 0.2);     // 1a181b33
$altHigh          = #ffffff;
$altMediumHigh    = #ffffff;  // ffffffcc
$altMedium        = rgba(255, 255, 255, 0.6);  // ffffff66
$altMediumLow     = rgba(255, 255, 255, 0.4);  // ffffff66
$altLow           = rgba(255, 255, 255, 0.2);  // ffffff33
$listAccentHigh   = rgba(255, 67, 101, 0.7);  // ff4365b3
$listAccentMedium = rgba(255, 67, 101, 0.6);   // ff436599
$listAccentLow    = rgba(255, 67, 101, 0.4);   // ff436566
$listMedium       = rgba(26, 24, 27, 0.2);     // 1a181b33
$listLow          = rgba(26, 24, 27, 0.1);     //
$xprimary         = #ff4365;
$accessory        = #2ec4b6;

$primary              = $baseMediumHigh //$baseHigh // #1a181b // #343a40
$secondary            = #26A69A
$accent               = $baseLow // #9C27B0

$positive             = #21BA45
$negative             = #C10015
$info                 = #31CCEC
$warning              = #F2C037

$separator-color      = $baseLow
$hover-background     = $separator-color
$separator-dark-color = rgba(255, 255, 255, .48)

$layout-border        = 1px solid $separator-color
$table-header-color   = $baseMediumHigh

$app-shadow-color            = $baseLow
$app-elevation-umbra        = rgba($app-shadow-color, .2)
$app-elevation-penumbra     = rgba($app-shadow-color, .14)
$app-elevation-ambient      = rgba($app-shadow-color, .12)
$table-hover-background     = $baseLow
$table-selected-background  = $baseLow
$contet-header-background   = rgba($baseLow, .05)
$contet-header-color        = $baseMediumHigh
$app-form-text-color        = #70758f

$dispatcher-primary           = #394857 // #ff4365;
$dispatcher-primary-bg        = #F8F8F8
$dispatcher-primary-text      = #FFFFFF
$dispatcher-separator-color   = #394857 // #ff4365;
$dispatcher-header-bg-color   = #9EA5AC
$dispatcher-layout-border     = 1px solid $dispatcher-separator-color
$dispatcher-red-color         = #B11720
$dispatcher-green-color       = #008001
$dispatcher-yellow-color      = #F2C037
$dispatcher-blue-color        = #468CC8


